@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<form class="cadastro" action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data" >
    
    <div class="campo">
        <label for="IdEquipe">IdEquipe</label>
        <input type="text" name="IdEquipe" id="IdEquipe">
    </div>    

    <div class="campo">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" id="Nome">
    </div>

    <div class="campo">
        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem">
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
</form>


<table class="table table-responsive table-striped">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Equipes)
        {
            <tr>
                <td>@item.IdEquipe</td>
                <td>@item.Nome</td>
                <td>
                    <img src="img/Equipes/@item.Imagem" alt="Imagem da equipe @item.Nome" />
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.IdEquipe">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>